<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.temobi.sx.sdk.vshare"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:label="SDK"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="com.temobi.sx.sdk.vshare.player.RecorderActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.temobi.sx.sdk.vshare.activity.VideoPlayActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.temobi.sx.sdk.vshare.activity.SetMyAvatarActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.temobi.sx.sdk.vshare.activity.UserPortalActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>